<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>主页</title>
    <link rel="stylesheet" href="./vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="./vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body class="sidebar-fixed header-fixed">
    <li class="nav-item dropdown" th:fragment="head">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="./imgs/avatar-1.png" class="avatar avatar-sm" alt="logo">

            <!--<span th:each="cookie :${#httpServletRequest.getCookies()}" >-->
            <!--<span class="small ml-1 d-md-down-none" id="username" th:if="${cookie.getName().equals('username')}"-->
                  <!--th:text="${cookie.getValue()}">>user</span>-->
            <!--</span>-->

        </a>

        <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-header">Account</div>

            <a href="#" class="dropdown-item">
                <i class="fa fa-user"></i> Profile
            </a>

            <a href="#" class="dropdown-item">
                <i class="fa fa-envelope"></i> Messages
            </a>

            <div class="dropdown-header">Settings</div>

            <a href="#" class="dropdown-item">
                <i class="fa fa-bell"></i> Notifications
            </a>

            <a href="#" class="dropdown-item">
                <i class="fa fa-wrench"></i> Settings
            </a>

            <a href="#" class="dropdown-item">
                <i class="fa fa-lock"></i> Logout
            </a>
        </div>
    </li>

<script src="./vendor/jquery/jquery.min.js"></script>
<script src="./vendor/popper.js/popper.min.js"></script>
<script src="./vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="./vendor/chart.js/chart.min.js"></script>
<script src="./js/carbon.js"></script>
<script src="./js/demo.js"></script>
    <!--<script type="text/javascript">-->
        <!--onload=function () {-->
            <!--$.post(-->
                <!--"check",  //url-->
                <!--{},-->
                <!--function success(result){-->
                    <!--$('#username').html(result);-->
                <!--}-->

            <!--);-->
        <!--}-->

    <!--</script>-->
</body>
</html>








