<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<script type="text/javascript">
    onload = function() {
        setInterval(go, 100);
    };
    var x = 1; //利用了全局变量来执行
    function go() {
        x--;
        if (x > 0) {
            document.getElementById("sp").innerHTML = x; //每次设置的x的值都不一样了。
        } else {
            location.href = '/home';
        }
    }
</script>
<div style="text-align: center;width: 200px;height: 100px;position: absolute;top: 200px;left: 33%;font-size: 18px;border: solid 1px ;line-height: 100px;">
    请等待
    <span id="sp" style="color: red;">1</span>
    秒后回首页
</div>


</body>
</html>
