<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title><!doctype html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Carbon - Admin Template</title>
            <link rel="stylesheet" href="./vendor/simple-line-icons/css/simple-line-icons.css">
            <link rel="stylesheet" href="./vendor/font-awesome/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="./css/styles.css">
        </head>
<body class="sidebar-fixed header-fixed">
<div class="page-wrapper">
    <nav class="navbar page-header">
        <a href="#" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto">
            <i class="fa fa-bars"></i>
        </a>

        <a class="navbar-brand" href="#">
            <img src="./imgs/logo.png" alt="logo">
        </a>

        <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
            <i class="fa fa-bars"></i>
        </a>

        <ul class="navbar-nav ml-auto">


            <li id="head" th:include="head::head"></li>
        </ul>
    </nav>

    <div id="leftbar" th:include="leftbar::leftbar">
        </div>
        <!--#正文内容-->

        <div class="content">
                <table class="table table-striped"th:if="${records}">
                    <tr>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>年龄</th>
                        <th>时间</th>
                        <th>描述</th>
                        <th></th>
                    </tr>
                    <tr th:each="record:${records}">
                        <td th:text="${record.patient.name}"></td>
                        <td th:text="${record.patient.sex}"></td>
                        <td th:text="${record.patient.age}"></td>
                        <td th:text="${record.time}">1</td>
                        <td th:text="${record.description}">张三</td>


                        <td>
                            <a href="#" th:href="@{/findRecord(id=${record.rid})}">查看</a>
                            <a href="#" th:href="@{/patientRegistration}">删除</a>
                        </td>
                    </tr>
                </table>
            <div th:if="${result}">
                <table class="table table-striped" th:if="${result.items}">
                    <tr>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>年龄</th>
                        <th>时间</th>
                        <th>描述</th>
                        <th></th>
                    </tr>
                    <tr th:each="record:${result.items}">
                        <div th:if="${record.patient}">
                        <td th:text="${record.patient.name}"></td>
                        <td th:text="${record.patient.sex}"></td>
                        <td th:text="${record.patient.age}"></td>
                        <td th:text="${record.time}">1</td>
                        <td th:text="${record.description}">张三</td>


                        <td>
                            <a href="#" th:href="@{/findRecord(id=${record.rid})}">查看</a>
                            <a href="#" th:href="@{/patientRegistration}">删除</a>
                        </td>
                        </div>
                    </tr>
                </table>
                <div class="row">
                    <div class="col-md-11"></div>
                    <div class="col-md-1">
                        <span th:unless="${result.currentPage}gt '1'"><a href="#"  >&lt</a></span>
                        <span th:if="${result.currentPage}gt '1'"><a href="#" th:href="@{'/queryRecordAll?page='+${result.currentPage-1}}" >&lt </a></span>
                        <span ><a href="#" th:href="@{'/queryRecordAll?page='+${result.currentPage}}" th:text="${result.currentPage}"></a></span>
                        <span th:if="${result.totalPage}gt ${result.currentPage}"><a href="#" th:href="@{'/queryRecordAll?page='+${result.currentPage+1}}">&gt</a></span>
                        <span th:unless="${result.totalPage}gt ${result.currentPage}"><a href="#"  > &gt</a></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="./vendor/jquery/jquery.min.js"></script>
<script src="./vendor/popper.js/popper.min.js"></script>
<script src="./vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="./vendor/chart.js/chart.min.js"></script>
<script src="./js/carbon.js"></script>
<script src="./js/demo.js"></script>

</body>

</html>