<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title><!doctype html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Carbon - Admin Template</title>
            <link rel="stylesheet" href="./vendor/simple-line-icons/css/simple-line-icons.css">
            <link rel="stylesheet" href="./vendor/font-awesome/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="./css/styles.css">
        </head>
<body class="sidebar-fixed header-fixed">
<div class="page-wrapper">
    <nav class="navbar page-header">
        <a href="#" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto">
            <i class="fa fa-bars"></i>
        </a>

        <a class="navbar-brand" href="#">
            <img src="./imgs/logo.png" alt="logo">
        </a>

        <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
            <i class="fa fa-bars"></i>
        </a>

        <ul class="navbar-nav ml-auto">


            <li id="head" th:include="head::head"></li>
        </ul>
    </nav>

    <div id="leftbar" th:include="leftbar::leftbar">
        </div>
        <!--#正文内容-->

        <div class="content">
            <table class="table table-striped"th:if="${patient}">
                <tr>
                    <th>id</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>生日</th>
                    <th>身份证号</th>
                    <th>电话</th>
                    <th>地址</th>
                </tr>
                <tr>
                    <td th:text="${patient.pid}">1</td>
                    <td th:text="${patient.name}">张三</td>
                    <td th:text="${patient.sex}">zhangsan</td>
                    <td th:text="${patient.age}">20</td>
                    <td th:text="${patient.birthday}">1970</td>
                    <td th:text="${patient.idcard}"></td>
                    <td th:text="${patient.phone}"></td>
                    <td th:text="${patient.address}"></td>
                </tr>

            </table>
            <div>
            <form th:action="@{/addRecord}"  th:object="${patient} " th:method="post"  >


                <label>病人信息</label>

                <div class="row">
                    <div class="col-md-4">
                        <label for="time" class="form-control-label">生病时间</label>
                        <input type="text" id="time" name="time" class="form-control" placeholder="时间请以XXXX-XX-XX" required="required" >
                    </div>
                    <div class="col-md-2">
                        <label for="pid" class="form-control-label">病人id</label>
                        <input type="number" id="pid" name="pid" class="form-control" placeholder="id" th:value="${patient.pid}">
                    </div>
                    <div class="col-md-4">
                        <label for="description" class="form-control-label">病情描述</label>
                        <input type="text" id="description" name="description" class="form-control" placeholder="描述...">
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-11">
                    </div>


                    <div class="col-1">
                        <input type="submit" class="btn btn-outline-primary">
                    </div>


                </div>
            </form>

        </div>

    </div>
</div>
    <script src="./vendor/jquery/jquery.min.js"></script>
    <script src="./vendor/popper.js/popper.min.js"></script>
    <script src="./vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="./vendor/chart.js/chart.min.js"></script>
    <script src="./js/carbon.js"></script>
    <script src="./js/demo.js"></script>

</body>
</html>